body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ffont
{
  font-family:cursive;
  font: bold;
  text-decoration-style: solid;
  
}
.bradios
{
  
  border: none;
  border-bottom: 2px solid black;
  outline: 0; 
  border-radius: 50px 50px  50px 50px;
  /* border-radius: 30%; */

}
.bbtn
{
  border-radius: 50px 50px  50px 50px;
  width: 100%;
}
